<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Burger Delux</title>
  <link rel="stylesheet" href="main.css"></style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"></style>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  <div class="heroContent">
    <h1>Burger Delux</h1>
  </div>
  <div class=content-container>
    <div class="content">
      <p class="welcome">Welcome!</p>
        <p>Commodo ea tempor occaecat in labore ea fugiat sunt irure ut qui. Irure dolore deserunt ut non sit occaecat do labore dolor. Sint incididunt incididunt id anim proident nostrud eiusmod sint eu. Et ut ut mollit id quis consequat veniam nulla. Sit cillum do sit ullamco incididunt Lorem ut deserunt magna nisi eiusmod. Exercitation fugiat ea ullamco veniam voluptate irure id exercitation aliquip ex reprehenderit sunt non consectetur.</p>
        <p>Incididunt quis amet consectetur exercitation culpa amet veniam deserunt. Ullamco dolore Lorem excepteur ut veniam commodo ad labore cillum nisi in anim. Consequat incididunt veniam ea ad minim laboris. Elit dolor quis consequat in in sint nulla officia sit in fugiat quis tempor consectetur. Adipisicing sunt duis minim consequat ad nulla commodo cillum esse ex amet sint.</p>
        <p>Labore fugiat ullamco ex cupidatat dolore. Deserunt anim nulla elit ullamco eiusmod quis ipsum adipisicing non ipsum cupidatat excepteur nisi. Ex mollit do consectetur nostrud anim quis. Fugiat est adipisicing eiusmod labore id excepteur amet non dolore.</p>
        <p>Labore fugiat ullamco ex cupidatat dolore. Deserunt anim nulla elit ullamco eiusmod quis ipsum adipisicing non ipsum cupidatat excepteur nisi. Ex mollit do consectetur nostrud anim quis.  Adipisicing sunt duis minim consequat ad nulla commodo cillum esse ex amet sint. </p>
    </div>
  </div>
  <script src="main.js"></script>
</body>
</html>