body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.heroContent{
  background-image: url("https://images.unsplash.com/photo-1521017432531-fbd92d768814?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e813bc9e93c2b7ede92476a3eddf3606&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  width: 100%;
  height: 600px;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

.heroContent h1 {
  font-size: 9em;
  color:#fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  text-align: center;
  margin-top: 150px;
  opacity: 0.9;
}

.content-containter{
  width: 100%;
}

.content{
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.welcome {
  font-size: 5em;
  padding-top: 20px;
  margin: 20px 0;
}

.contact{
  width: 100%; 
  margin: 0 auto;
  padding-bottom: 100px;
}

.contact p{
  text-align: center;
  font-size: 2em;
  margin: 20px;
}

.contact form{
  width: 40%;
  margin: 0 auto;
}

.contact